/*
CSS for math pages
Last updated: 2023-12-24
*/

body {
    background: black;
    margin: 0;
}

#root {
    width: 900px;
    margin: auto;
    background: white;
    min-height: 100vh;
    max-width: 100vw;
    padding: 10px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

th {
    background: lightgray;
}

th, td {
    border: 1px solid black;
    padding: 2px;
}

details {
    background: lightgray;
}
