/*
CSS for math pages
Last updated: 2024-02-29
*/

body {
    background: black;
    margin: 0;
}

#root {
    width: 900px;
    margin: auto;
    background: white;
    min-height: 100vh;
    max-width: 100vw;
    padding: 10px;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

th {
    background: lightgray;
}

th, td {
    border: 1px solid black;
    padding: 2px;
}

details {
    background: lightgray;
}

.img_center {
    display: block;
    margin: 0 auto;
}
