
/*
Some of these styles are inspired by the simple design on https://copy.sh/
*/

body {
    font-family: sans-serif;
    background: #777777;
    margin: 0;
}

#root {
    width: 1000px;
    margin: auto;
    background: #cccccc;
}

#header {
    display: flex;
    background: #77BBFF;
}

#links {
    padding: 20px;
}

#links > * {
    font-size: 1.5em;
    padding: 5px;
    margin-left: 10px;
    background: #BBFF77;
}

.dropdown_container {
    position: relative;
    display: inline-block;
}

.dropdown_button {
    cursor: pointer;
}

.dropdown_menu {
    display: none;
    position: absolute;
    text-align: right;
    right: 0px;
    min-width: 200px;
}

.dropdown_container:hover .dropdown_menu {
    display: block;
}

.dropdown_menu a {
    background: #FFFFFF;
    padding: 5px;
    display: block;
}

.dropdown_menu a:first-of-type {
    margin-top: 5px;
}

.dropdown_menu a:hover {
    background: #77FFBB;
}

#content {
    padding: 10px;
}

.title_text {
    font-size: 2.5em;
    font-weight: bold;
    margin: auto;
}

.proj_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.proj_item {
    width: 300px;
    border: 2px solid black;
    background: #eecc77;
    padding: 5px;
    margin: 5px;
}

.proj_image {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
}

.proj_desc {
    width: 190px;
    float: right;
}

.proj_name {
    display: block;
    text-align: center;
    font-size: 1em;
}

.proj_text {
    font-size: 0.8em;
}

.img_fw {
    width: 980px;
}

/* Last updated: 2023-06-26 */
